services:
  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    volumes:
      - ./config-repo:/config-repo

  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
    depends_on:
      - config-server

  serviceprovider-service:
    build: ./serviceprovider-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - config-server

  job-service:
    build: ./job-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
      - config-server

  customer-service:
    build: ./customer-service
    ports:
      - "8090:8080"
    depends_on:
      - eureka-server
      - config-server
      - job-service
      - serviceprovider-service

  gateway-service:
    build: ./gateway-service
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
      - config-server
      - customer-service
      - job-service
      - serviceprovider-service
